- attributes("title") = "Welcome :-)"

h1 Welcome to the OAuth 2 SSO example!
p 
  | This demonstrates how to use an external OAuth provider for authentication
  | &amp; how to retrieve user details from the OAuth provider. 
p
  | There are only two users: "marissa" and "sam".  The password for "marissa" is password is "wombat" and for "sam" is password is "kangaroo".</p>
p
  a(href={uri("/account")}) View my account
